body {
  background-color: #1e1e1e;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: rgb(145, 144, 144);
}

li {
  color: rgb(145, 144, 144);
}

th {
  color: white;
}

td {
  color: rgb(145, 144, 144);
}

label {
  color: rgb(145, 144, 144);
}

input {
  background-color: rgb(56, 56, 56);
}

textarea {
  background-color: rgb(56, 56, 56);
}


/***************CLASS SELECTORS***************/

.imp {
  color: rgb(188, 185, 185);
}